#storytelling-page {
  display: flex;
  height: 100vh;
}

#story-container {
  position: relative;
  flex-basis: 40vw;
  height: 100vh;
  /* border: 1px solid gray; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#story-container nav {
  position: sticky;
  top: 0;
  background-color: white;
}

#story-container #information {
  height: 90vh;
  overflow-y: scroll;
}

#story-container h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: calc(24px + 0.390625vw);
}

#story-container p {
  text-align: justify;
  font-size: calc(12px + 0.390625vw);
}

#story-container .chapter {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 3rem;
  /* margin-bottom: 1.5rem; */
  border: 1px solid grey;
}

#story-mapbox {
  flex-basis: 60vw;
  width: 60vw;
  height: 100vh;
  /* border: 1px solid gray; */
}

#story-mapbox .map-container {
  height: 100vh;
  width: 60vw;
}
/* PHONE */
@media (max-height: 576px), screen and (orientation: portrait) {
  #storytelling-page {
    flex-flow: column-reverse;
  }

  #story-container {
    flex-basis: 50vh;
    overflow-y: scroll;
  }

  #story-container .chapter {
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }

  #story-mapbox {
    flex-basis: 50vh;
    width: 100vw;
  }
  #story-mapbox .map-container {
    height: 50vh;
    width: 100vw;
  }
}
