.map-container {
  height: 100vh;
  width: 100vw;
}

.feature-toggle{
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 2;
  position: absolute;
  top: 1rem;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

#menu {
background: #fff;
position: absolute;
z-index: 1;
bottom: 1rem;
right: 10px;
border-radius: 1rem;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
}
 
#menu a {
font-size: 13px;
color: #404040;
display: block;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a:last-child {
border: none;
}
 
#menu a:hover {
background-color: #f8f8f8;
color: #404040;
}
 
#menu a.active {
background-color: #3887be;
color: #ffffff;
}
 
#menu a.active:hover {
background: #3074a4;
}